<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Program List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-3">진행중인 프로그램</h1>
    <div class="row">
        <div class="col-md-4" th:each="program : ${inProgressPrograms}">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title" th:text="${program.title}"></h5>
                    <p class="card-text" th:text="${program.getMainCategoryId()}"></p>
                    <p class="card-text"><small class="text-muted" th:text="${program.state.getDescription()}"></small>
                    </p>
                    <!-- 프로그램 상세 페이지로 이동하는 링크 -->
                    <a th:href="@{'/instructor/program/' + ${program.id}}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

    <h1 class="mt-5 mb-3">진행중이 아닌 프로그램</h1>
    <div class="row">
        <div class="col-md-4" th:each="program : ${otherPrograms}">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title" th:text="${program.title}"></h5>
                    <p class="card-text" th:text="${program.getMainCategoryId()}"></p>
                    <p class="card-text"><small class="text-muted" th:text="${program.state.getDescription()}"></small>
                    </p>
                    <!-- 프로그램 상세 페이지로 이동하는 링크 -->
                    <a th:href="@{'/instructor/program/' + ${program.id}}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- 프로그램 생성 요청 페이지로 이동하는 버튼 -->
    <div class="row">
        <div class="col-md-12">
            <a href="/program" class="btn btn-primary">프로그램 생성 요청</a>
            <a href="/instructor/" class="btn btn-success">프로필로 돌아가기</a>
        </div>
    </div>
</div>
</body>
</html>
