<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
        .form-group.d-flex {
            flex-wrap: nowrap;
        }
        .form-floating {
            flex-grow: 1;
        }
        .mx-2 {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        button span {
            display: block; /* 각 span을 새 줄에 표시 */
            text-align: center; /* 텍스트를 버튼의 중앙에 정렬 */
        }
    </style>
</head>
<body>
<main class="flex-shrink-0">
    <section class="py-5">
        <div class="container px-5">
            <!-- login form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <h1 class="text-center mb-5">강사 회원 등록 신청</h1>
                        <form action="/instructor/proposal" th:method="post" th:object="${InstructorCreateDto}" id="registrationForm">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name...">
                                <label for="name">이름</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-control" id="gender" name="gender">
                                    <option selected>성별을 선택하세요</option>
                                    <option value="FEMALE">여성</option>
                                    <option value="MALE">남성</option>
                                </select>
                                <label for="gender">성별</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="birthdate" type="date" placeholder="YYYY-MM-DD">
                                <label for="birthdate">생년월일</label>
                            </div>

                            <!-- 이메일 입력 필드 및 중복 확인 버튼 -->
                            <div class="form-group d-flex align-items-center mb-3">
                                <div class="form-floating flex-grow-1">
                                    <input type="text" class="form-control" id="emailUser" name="emailUser" placeholder="이메일 사용자 이름">
                                    <label for="emailUser">이메일</label>
                                </div>
                                <span class="mx-2">@</span>
                                <div class="form-floating flex-grow-1">
                                    <select class="form-control" id="emailDomain" name="emailDomain" onchange="showCustomDomainInput()">
                                        <option value="naver.com">naver.com</option>
                                        <option value="gmail.com">gmail.com</option>
                                        <option value="daum.net">daum.net</option>
                                        <option value="other">기타(직접 입력)</option>
                                    </select>
                                    <label for="emailDomain">도메인</label>
                                </div>
                                <!-- 사용자 정의 도메인 입력 필드 -->
                                <input type="text" class="form-control mx-2" id="customDomain" name="customDomain" style="display: none;" placeholder="직접 입력">
                                <!-- 중복 확인 버튼, 텍스트를 두 줄로 나눔 -->
                                <button type="button" class="btn btn-outline-primary ms-2" id="emailDuplicationCheck" onclick="checkEmail()">
                                    <span>중복</span>
                                    <span>확인</span>
                                </button>
                            </div>
                            <div id="isCheckEmail" style="display: none;">
                                <p>이메일 인증 완료</p>
                            </div>
                            <div id="verificationForm" style="display: none;">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="verificationCode" name="verificationCode" type="text" placeholder="Enter verification code">
                                    <label for="verificationCode">인증번호</label>
                                </div>
                                <button type="button" class="btn btn-outline-primary" id="sendCode" onclick="sendVerificationCode()">인증번호 보내기</button>
                                <button type="button" class="btn btn-outline-primary" id="resendCode" onclick="sendVerificationCode()" style="display: none">인증번호 다시 보내기</button>
                                <button type="button" class="btn btn-outline-primary" id="checkCode" onclick="submitVerification()" style="display:none;">인증번호 확인</button>
                            </div>
                            <input type="hidden" id="email" name="email">

                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" name="password" type="password" placeholder="Enter your password...">
                                <label for="password">Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="passwordCheck" name="passwordCheck" type="password" placeholder="Re-enter your password...">
                                <label for="passwordCheck">Password Check</label>
                            </div>


                            <!-- 전화번호 입력 필드 -->
                            <div class="form-group d-flex mb-3">
                                <div class="form-floating flex-grow-1 me-1">
                                    <input type="text" class="form-control" id="phonePart1" name="phonePart1" placeholder="010" maxlength="3">
                                    <label for="phonePart1">전화번호 앞자리</label>
                                </div>
                                <div class="form-floating flex-grow-1 mx-1">
                                    <input type="text" class="form-control" id="phonePart2" name="phonePart2" placeholder="1234" maxlength="4">
                                    <label for="phonePart2">중간</label>
                                </div>
                                <div class="form-floating flex-grow-1 ms-1">
                                    <input type="text" class="form-control" id="phonePart3" name="phonePart3" placeholder="5678" maxlength="4">
                                    <label for="phonePart3">끝자리</label>
                                </div>
                            </div>


                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="career" name="career" placeholder="Enter your career and activities here..." style="height: 150px;"></textarea>
                                <label for="career">경력사항 및 활동내역</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="certificate" name="certificate" placeholder="Enter your certificates here..." style="height: 100px;"></textarea>
                                <label for="certificate">자격증</label>
                            </div>
                            <!--TODO: 은행 목록 추가-->
                            <div class="form-floating mb-3">
                                <select class="form-control" id="bank" name="bank" onchange="toggleBankInput()">
                                    <option selected>은행을 선택하세요</option>
                                    <option value="KB국민은행">KB국민은행</option>
                                    <option value="신한은행">신한은행</option>
                                    <option value="하나은행">하나은행</option>
                                    <option value="우리은행">우리은행</option>
                                    <option value="NH농협은행">NH농협은행</option>
                                    <option value="기업은행">기업은행</option>
                                    <option value="씨티은행">씨티은행</option>
                                    <option value="카카오뱅크">카카오뱅크</option>
                                    <option value="케이뱅크">케이뱅크</option>
                                    <option value="other">기타</option>
                                </select>
                                <label for="bank">은행 선택</label>
                            </div>

                            <!-- 사용자 정의 은행 이름 입력 필드 -->
                            <div class="form-floating mb-3" id="otherBankContainer" style="display:none;">
                                <input class="form-control" id="otherBank" name="otherBank" type="text" placeholder="Enter your bank name">
                                <label for="otherBank">은행 이름 입력</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="bankName" name="bankName" type="text" placeholder="Enter account holder's name">
                                <label for="bankName">예금주명</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input class="form-control" id="account" name="account" type="text" placeholder="Enter account number">
                                <label for="account">계좌번호</label>
                            </div>


                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="sign-in-button" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    let isEmailAvailable = false; // 이메일 중복 상태를 추적합니다.
    let isEmailChecked = false;
    let isCodeChecked = false;  // 인증번호 확인을 했는지
    let isSendCode = false;     // 인증번호를 보냈는지
    document.getElementById('emailUser').addEventListener('input', function() {
        // 이메일 사용자 이름을 변경할 때마다 중복 검사 상태를 초기화합니다.
        isEmailAvailable = false;
        isEmailChecked = false;
        isCodeChecked = false;
        isSendCode = false;

        // 이메일 인증과 관련된 div를 숨깁니다.
        document.getElementById('verificationForm').style.display = 'none';
        document.getElementById('isCheckEmail').style.display = 'none';
    });


    document.getElementById('registrationForm').addEventListener('submit', function(event) {
        event.preventDefault(); // 폼의 기본 제출을 방지


        // 필수 필드 검사
        let name = document.getElementById('name').value.trim();
        let gender = document.getElementById('gender').value;
        let birthdate = document.getElementById('birthdate').value.trim();
        let password = document.getElementById('password').value.trim();
        let passwordCheck = document.getElementById('passwordCheck').value.trim();
        let emailUser = document.getElementById('emailUser').value.trim();
        let emailDomain = document.getElementById('emailDomain').value;
        let customDomain = document.getElementById('customDomain').style.display !== 'none' ? document.getElementById('customDomain').value.trim() : "";
        let verificationCode = document.getElementById('verificationCode').value.trim();
        let phonePart1 = document.getElementById('phonePart1').value.trim();
        let phonePart2 = document.getElementById('phonePart2').value.trim();
        let phonePart3 = document.getElementById('phonePart3').value.trim();
        let career = document.getElementById('career').value.trim();
        let certificate = document.getElementById('certificate').value.trim();

        let email = emailUser + '@' + (emailDomain === 'other' ? customDomain : emailDomain);

        // 모든 필수 필드가 채워졌는지 확인
        if (!name || !gender || !birthdate || !password || !passwordCheck || !emailUser || !emailDomain || (emailDomain === 'other' && !customDomain) || !phonePart1 || !phonePart2 || !phonePart3 || !career || !certificate || !verificationCode) {
            alert('모든 내용을 작성해 주세요.');
            return; // 필수 필드가 하나라도 비어 있으면 폼 제출을 중단합니다.
        }

        if (!isEmailChecked) {
            alert('이메일 중복 확인을 해주세요.');
            return; // 중복 검사를 수행하지 않았으면 폼 제출을 중단
        }
        // 이메일 중복 상태 검사
        if (!isEmailAvailable) {
            alert('이미 사용 중인 이메일입니다. 다른 이메일을 입력해주세요.');
            return; // 중복된 이메일이 있으면 폼 제출을 중단합니다.
        }
        // 이메일 인증 상태 검사
        if (!isCodeChecked){
            alert('이메일 인증을 해주세요.');
            return;
        }

        // 비밀번호 일치 검사
        password = document.getElementById('password').value;
        passwordCheck = document.getElementById('passwordCheck').value;
        if (password !== passwordCheck) {
            alert('비밀번호가 일치하지 않습니다. 다시 입력해주세요.');
            return; // 비밀번호가 일치하지 않으면 폼 제출을 중단
        }

        // 이메일 조합
         emailUser = document.getElementById('emailUser').value;
         emailDomain = document.getElementById('emailDomain').value;
         customDomain = document.getElementById('customDomain').value;
         email = emailUser + '@' + (emailDomain === 'other' ? customDomain : emailDomain);

        // 이메일 숨겨진 필드 업데이트 또는 추가
        let emailInput = document.getElementById('email');
        if (!emailInput) {
            emailInput = document.createElement('input');
            emailInput.type = 'hidden';
            emailInput.id = 'email'; // id 속성 추가
            emailInput.name = 'email';
            this.appendChild(emailInput);
        }
        emailInput.value = email;

        // 전화번호 조합
         phonePart1 = document.getElementById('phonePart1').value;
         phonePart2 = document.getElementById('phonePart2').value;
         phonePart3 = document.getElementById('phonePart3').value;
        let phone = phonePart1 + '-' + phonePart2 + '-' + phonePart3; // 하이픈 추가
        this.appendChild(createHiddenInput('phone', phone)); // 전화번호 숨겨진 필드에 추가

        // 생년월일 분리
        let birthdateInput = document.getElementById('birthdate');
        let birthdateValue = birthdateInput.value;
        if (birthdateValue) {
            const [year, month, day] = birthdateValue.split('-');
            this.appendChild(createHiddenInput('birthyear', year));
            this.appendChild(createHiddenInput('birthday', `${month}-${day}`));
        }

        // 폼을 프로그래밍 방식으로 제출
        this.submit();
    });

    function createHiddenInput(name, value) {
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = name;
        input.value = value;
        return input;
    }

    function toggleBankInput() {
        const bankSelect = document.getElementById('bank');
        const otherBankContainer = document.getElementById('otherBankContainer');
        if (bankSelect.value === 'other') {
            otherBankContainer.style.display = 'block';
        } else {
            otherBankContainer.style.display = 'none';
        }
    }

    function showCustomDomainInput() {
        const emailDomainSelect = document.getElementById('emailDomain');
        const customDomainInput = document.getElementById('customDomain');
        if (emailDomainSelect.value === 'other') {
            customDomainInput.style.display = '';
            customDomainInput.classList.add('form-control');
        } else {
            customDomainInput.style.display = 'none';
            customDomainInput.value = ''; // 입력 필드를 비움
        }
    }
    //인증번호 창 보이게 하기
    function showVerificationForm() {
        const verificationForm = document.getElementById('verificationForm');
        verificationForm.style.display = 'block';
    }

    //인증번호 보내기
    function sendVerificationCode(){
        const resendCode = document.getElementById('resendCode');
        const sendCode = document.getElementById('sendCode');
        const checkCode = document.getElementById('checkCode');

        const emailUser = document.getElementById('emailUser').value;
        const emailDomain = document.getElementById('emailDomain').value;
        const customDomain = document.getElementById('customDomain').value;
        const email = emailUser + '@' + (emailDomain === 'other' ? customDomain : emailDomain);


        sendCode.style.display = 'none';
        resendCode.style.display = 'block';
        checkCode.style.display = 'block';

        fetch('/email/send',{
            method : 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({email: email})
        })
            .then(response => response.json())
            .then(data => {
                isSendCode = data.isSend;
                if (isSendCode){
                    alert('인증번호가 발송되었습니다. 이메일을 확인해 주세요')
                }
            })
            .catch(error =>{
                console.error('Error:', error);
                alert('인증번호 전송 중 오류가 발생했습니다.');
            })
    }

    function submitVerification(){
        const emailUser = document.getElementById('emailUser').value;
        const emailDomain = document.getElementById('emailDomain').value;
        const customDomain = document.getElementById('customDomain').value;
        const email = emailUser + '@' + (emailDomain === 'other' ? customDomain : emailDomain);
        const code = document.getElementById('verificationCode').value.trim();

        const verificationCode = document.getElementById('verificationCode');
        const resendCode = document.getElementById('resendCode');
        const checkCode = document.getElementById('checkCode');
        const isCheckEmail = document.getElementById('isCheckEmail');


        fetch('/email/check',{
            method : 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({email: email, code: code})
        })
            .then(response => response.json())
            .then(data => {
                isCodeChecked = data.isCheck;
                if (isSendCode){
                    verificationCode.style.display = 'none';
                    checkCode.style.display = 'none';
                    resendCode.style.display = 'none';
                    isCheckEmail.style.display = 'block';
                    document.getElementById('emailDuplicationCheck').style.display = 'none';
                    document.getElementById('emailUser').setAttribute('readonly', true);
                    document.getElementById('emailDomain').disabled = true;

                }
            })
            .catch(error =>{
                console.error('Error:', error);
                alert('인증번호를 다시 확인해 주세요.');
            })
    }

    function checkEmail() {
        const emailUser = document.getElementById('emailUser').value;
        const emailDomain = document.getElementById('emailDomain').value;
        const customDomain = document.getElementById('customDomain').value;
        const email = emailUser + '@' + (emailDomain === 'other' ? customDomain : emailDomain);

        if (!emailUser) {
            alert('이메일을 입력해주세요.');
            return;
        }

        fetch('/instructor/check-email', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({email: email})
        })
            .then(response => response.json())
            .then(data => {
                isEmailAvailable = data.isAvailable;
                isEmailChecked = true; // 중복 검사를 수행했음을 표시
                if (isEmailAvailable) {
                    alert('이메일이 사용 가능합니다.');
                    showVerificationForm(); // 사용 가능한 경우에 인증번호 입력 폼을 표시
                } else {
                    alert('이미 사용 중인 이메일입니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('중복 확인 중 오류가 발생했습니다.');
            });
    }



</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>