<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Review</title>
</head>
<body>
<h2>Update Review</h2>

<form action="#" th:action="@{/instructor/{instructorId}/review/{reviewId}/comment/{commentId}}" th:object="${commentDto}" method="post">
    <input type="hidden" name="instructorId" th:value="${instructorId}" />
    <input type="hidden" name="reviewId" th:value="${reviewId}" />
    <input type="hidden" name="commentId" th:value="${commentId}" />

    <div>
        <label for="content">Content:</label>
        <textarea id="content" name="content"></textarea>
    </div>

    <div>
        <button type="submit">Update</button>
    </div>
</form>

<a href="/instructor/{instructorId}/review/{reviewId}/comment">Back to Review</a>
</body>
</html>
